/*
*
*   $arg1 accepts pc, sp and tablet
*    @include breakpoint(pc);
*    @include breakpoint(sp);
*    @include breakpoint(tablet);
*
*/

@mixin breakpoint($point) {
  @if $point == tablet {
    @media (min-width: 641px) {
      @content ;
    }
  }
  @if $point == pc {
    @media (min-width: 769px) {
      @content ;
    }
  }
  @if $point == sp {
    @media (max-width: 768px) {
      @content;
    }
  }
}


/*
*
*   $arg1 accepts margin, padding and font-size
*    @include converter-sp(padding,30);
*    @include converter-sp(padding,30,30);
*    @include converter-sp(padding,30,30,30);
*    @include converter-sp(padding,30,30,30,30);
*
*/

@mixin converter-sp($arg...) {
  @if nth($arg, 1) == padding or nth($arg, 1) == margin {
    @if length($arg) <= 5 {
      $val: 0;
      $val-vw: 0;
      @for $i from 2 through length($arg) {
        $val : $val + px-vw(nth($arg, $i)) *  1% + ' ';
        $val-vw : $val-vw + px-vw(nth($arg, $i)) *  1vw + ' ';
      }
      #{nth($arg, 1)}: unquote($val);
      #{nth($arg, 1)}: unquote($val-vw);
    }
  }
  @if nth($arg,1) == font-size {
    #{nth($arg, 1)}: px-rem(nth($arg, 2)) * 1rem;
    #{nth($arg, 1)}: px-vw(nth($arg, 2)) * 1vw;
  }
}

@function px-vw($num, $reso: 750) {
  @return 100 / $reso * $num;
}

@function px-rem ($num) {
  @return px-vw($num * 0.75);
}
